@use '../../scss/'as *;

.guestPage {
    @include flex(center, center);
    flex-direction: column;

    padding: 4rem 0 0;
    margin-top: $header-height;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .title {
        font-size: 3rem;
        font-weight: 700;
        color: $white;
    }

    .des {
        font-size: 1.5rem;
        font-weight: 500;
        color: $white;
    }

    .announce {
        font-size: 1rem;
        font-weight: 500;
        color: $white;
    }

    &-btn {
        margin-top: 1rem;
    }
}