@use '../../scss/'as *;

.movie-card {
    position: relative;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 160%;
    margin-bottom: 1rem;
    border-radius: $border-radius;

    .btn {
        position: absolute;
        top: 50%;
        left: 50%;
        box-shadow: 0px 0px 7px 8px #ff00004d;
        transform: translate(50%, 50%) scale(0);
        transition: transform 0.9 ease, box-shadow 0.3s ease;
    }

    &::before {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $black;
        border-radius: $border-radius;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    @media (hover: hover) {
        &:hover::before {
            opacity: 0.8;
        }

        &:hover .btn {
            transform: translate(-50%, -50%) scale(1);
            box-shadow: 0px 0px 7px 16px #ff00004d;
        }
    }
}