@use '../../scss/'as *;

button {
    cursor: pointer;
    font-family: $font-family;
}

.btn {
    position: relative;
    padding: 0.5rem 1.8rem;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: $main-color;
    color: $white;
    border: 4px solid transparent;
    border-radius: $border-radius;
    box-shadow: 0px 0px 7px 8px #ff00004d;
    transition: box-shadow 0.3s ease;

    &:hover {
        box-shadow: 0px 0px 7px 16px #ff00004d;
    };

    &.small {
        padding: 0.25rem 1.5rem;
        font-size: 1rem;
        border-width: 2px;
    }
}

.btn-outline {
    // position: relative;
    padding: 0.5rem 1.8rem;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: transparent;
    color: $white;
    border-radius: $border-radius;
    border: 2px solid $white;
    box-shadow: unset;
    transition: color 0.3s ease, background-color 0.3s ease;

    &:hover {
        background-color: $white;
        color: $main-color;
        box-shadow: unset;
    }

    &.small {
        padding: 0.25rem 1.5rem;
        font-size: 1rem;
        border-width: 2px;
    }
}


